# User that allow to write dags
AIRFLOW_UID=

# PROJECT PATH (ABSOLUTE) on VM
AIRFLOW_PROJ_DIR=

# AIRFLOW UI CREDENTIALS
_AIRFLOW_WWW_USER_USERNAME=
_AIRFLOW_WWW_USER_PASSWORD=

# DATABASE SETTINGS
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

# CONFIGURATION
AIRFLOW__CORE__FERNET_KEY=
AIRFLOW_IMAGE_NAME=
